@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    src: url(Comfortaa/Comfortaa-Bold.ttf);
}

@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 400;
    src: url(Open_Sans/OpenSans-Light.ttf);
}
