@import "fonts/fonts.css";

body
{
    background-image: url('black.png');
    background-position: center bottom;
    background-size: cover;
    font-family: 'OpenSans', 'Ubuntu', sans-serif;
    transition: background-image 0.5s ease-out;
}


#user_table {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
}

#user_table td
{
    font-size: 20px;
    color: white;
    vertical-align: middle;
    line-height: 50px;
    font-family: 'Comfortaa', 'Comic Sans MS', sans-serif;
}

#user_table img {
    float: left;
    height: 40px;
    padding: 5px 20px;
}
