@import "fonts/fonts.css";

body
{
    background-image: url('black.png');
    background-position: center bottom;
    background-size: cover;
    font-family: 'OpenSans', 'Ubuntu', sans-serif;
    transition: background-image 0.5s ease-out;
}

#content {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*background: -webkit-linear-gradient(top, rgba(0,0,0,0) 35%,rgba(0,0,0,0.65) 100%);*/
    background: rgba(0,0,0,0.5);
}


#user_table {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    text-align: center;
}

#user_table td
{
    font-size: 20px;
    color: white;
    vertical-align: middle;
    line-height: 50px;
    font-family: 'Comfortaa', 'Comic Sans MS', sans-serif;
    padding: 10px 0;
}

#user_table img {
    height: 40px;
    padding: 5px 20px;
}

#user_table p {
    margin: 0;
}

#password_entry {
    font-size: 27px;
    line-height: 50px;
    background: transparent;
    border:  none;
    outline: none;
    border-bottom: solid 1px #ffffff;
    color: #ffffff;
    opacity: 0;
    position: relative;
    top: 45px;
    transition: all 0.2s ease-out;
    text-align: center;
    letter-spacing: 3px;
    padding: 4px;
}

#password_entry.visible {
    opacity: 1;
    top: 0;
}

#password_entry::-webkit-input-placeholder  {
    color: #ffffff;
    opacity: 0.75;
}

#clock {
    position: fixed;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
}

#clock div {
    font-size: 144px;
    color: #ffffff;
    display: inline;
    text-align: center;
    padding: 0 10px;
    text-shadow: 3px 3px 25px black
}

