body
{
    background-image: url('dt.png');
    background-position: center;
    background-size: cover;
}


#user_table {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
}

#user_table td
{
    font-size: 20px;
    color: white;
    vertical-align: middle;
    line-height: 50px;
}

#user_table img {
    float: left;
    height: 40px;
    padding: 5px 20px;
}
